Repository TheJoeFin/Text-Grab, pull requests merged in 2021-09, with the labels that each got.

#91 Fix bitmap grab
  Text-Grab/Views/FullscreenGrab.xaml
  Text-Grab/Views/FullscreenGrab.xaml.cs
Labels: enhancement, Full Screen Grab

#97 Shows suggested spelling corrections in context menu
  Text-Grab/Views/EditTextWindow.xaml
  Text-Grab/Views/EditTextWindow.xaml.cs
Labels: Edit Text Window

#96 Add Capture Menu Item
  Text-Grab/Views/EditTextWindow.xaml
  Text-Grab/Views/EditTextWindow.xaml.cs
Labels: enhancement, Edit Text Window

#102 Unstack string method
  Text-Grab/Utilities/StringMethods.cs
  Text-Grab/Views/EditTextWindow.xaml
  Text-Grab/Views/EditTextWindow.xaml.cs
Labels: enhancement, Edit Text Window

#103 Create Remove Duplicate Lines method and connect to Menu Item
  Text-Grab/Utilities/StringMethods.cs
  Text-Grab/Views/EditTextWindow.xaml
  Text-Grab/Views/EditTextWindow.xaml.cs
Labels: enhancement, Edit Text Window
